html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr,
acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike,
strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label,
legend,table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;
vertical-align: baseline; }


h2,h3,h1{font-family: 'Raleway', sans-serif; font-weight: 200;}

p {font-family: 'Raleway', sans-serif; font-size: 18px; font-weight: 200; color: #25766d;}

#contenu1{
  background-color:#ebe9e9;
  height: 100%;
  width: 100%;
}
/* Menu */
#menu {
  position: fixed;
    width: 100%;
    z-index: 10;
    }
        a{
      text-decoration: none;
      color: white;
      font-family:'Raleway', sans-serif;
      display:block;
     }     
      a:hover{color: #46b274}
        li{
      font-size: 17px;
      margin: 15px;
      padding-left:10px;
      line-height: 100%;
      display: inline-block;
          }
        .logo{
      margin: 20px;
      display: inline-block;
        }

    .pro{
      border-width:2px;
      border-style:solid;
      border-color:white;
      padding-left:15px;
      padding-right:15px;
      padding-top:5px;
      padding-bottom:5px;
      border-radius: 10px;
      }

        ul{
      text-align: center;
      list-style-type: none;
      background-color: #25766d;
      padding-right: auto;
      }  

 /* Fin menu */
      
#titre{
    padding:100px;
    text-align:center;
    font-size: 60px;
    background-image: url("../ressources_communes/aurore.jpg");
    background-size: 100% auto;
    color:white;
      }

.question{
  background-color:#e9e9e9;
  width:90%;
  height: auto;
  font-weight: 200;
  margin-top: 4%;
  border-radius: 10px;
  padding: 10px;
}
.q{
  font-size: 25px;
  font-weight: 700;
  color: #25766d;
}
#question1{
  margin-left: 15%;
  margin-right: 5%;
}


/* footer */

#footer{color: white;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    padding-left: 60px;
    background-color: #25766d;
}
